@import '../../../shared/styles/tools/tools.scss';

.Footer{
    background:$dark-yellow;
    color:$white;
    text-align:center;
    padding:40px 0;
    position:relative;
    margin-top:auto;
    .FooterCutterImg{
        @include position($position:absolute,$top:-10px,$left:0);
        width:100%;
        transform:rotate(180deg);
    }
    ul{
        list-style: none;
        padding-left:0;
        li{
            font-weight:300;
            margin-bottom:5px;
        }
    }
    @include mq('large'){
        .FooterCutterImg{
            top:-50px;
        }
    }
}
