@import '../../../../shared/styles/tools/tools.scss';

.PaymentContainer{
    margin:60px 0;
    .PaymentHeader{
        color:$gray;
        .Amount{
            font-size:18px;
            span{
                color:#2975d8;
            }
        }
    }
}
