.base-input {
  outline: none;
  width: 100%;
  padding: 10px 10px;
  border-radius: 2px;
  -webkit-appearance: none;
  border: none;
  color: #776f6f;
  background: #E7EDEE;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #D69648;
  color: white;
  height: 60vh;
  position: relative;
  margin-bottom: 50px;
}

.Header .HeaderContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25%;
  max-width: 460px;
}

.Header .HeaderCutterImg {
  position: absolute;
  bottom: -2px;
  width: 100%;
}

.Header .HeaderButtons {
  margin-left: auto;
}

.ButtonOrder {
  border-radius: 4px;
  color: #D69648;
  background: white;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  padding: 6px 15px;
  margin-right: 5px;
}

.ButtonOrder:hover {
  background: #e6e6e6;
}

.ButtonReserve {
  border-radius: 4px;
  color: white;
  background: #b57824;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  padding: 6px 15px;
}

.ButtonReserve:hover {
  background: #8a5c1c;
}

.SectionAbout {
  color: #D69648;
  margin-bottom: 80px;
}

.SectionAbout .Text {
  margin-left: 20px;
}

.SectionAbout .AboutContent {
  position: relative;
}

.SectionAbout .AboutContent .TextBorder {
  position: absolute;
  bottom: -30px;
}

.SectionMenus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  color: white;
}

.SectionMenus .TopCutter,
.SectionMenus .BottomCutter {
  display: none;
}

@media (min-width: 601px) {
  .Header {
    height: 70vh;
    margin-bottom: 125px;
  }
  .Header .HeaderContent {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 10%;
  }
  .Header .HeaderCutterImg {
    bottom: -25px;
  }
  .SectionAbout {
    margin-bottom: 40px;
  }
  .SectionMenus {
    background: url("https://unsplash.com/photos/6Z9BQKksmbE/download") fixed no-repeat center center/cover;
    position: relative;
  }
  .SectionMenus .TopCutter,
  .SectionMenus .BottomCutter {
    display: block;
    width: 100%;
  }
  .SectionMenus .TopCutterBorder {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    height: 93px;
    margin-top: -3px;
  }
  .SectionMenus .TopCutter {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-top: 88px;
  }
  .SectionMenus .BottomCutter {
    margin-bottom: -2px;
  }
  .MenuMedGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 630px;
  }
}

@media (min-width: 950px) {
  .Header .HeaderCutterImg {
    margin-bottom: -50px;
  }
  .SectionMenus .MenuMedGroup {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=home.css.map */