@import '../../../../shared/styles/tools/tools.scss';

$menu-cutter-marginTop: 90px;
.Header{
    @include flex($dir:column,$just:center);
    @include bg($bg:$orange);
    height:60vh;
    position:relative;
    margin-bottom:50px;
    .HeaderContent{
        @include flex($dir:column);
        margin-bottom:25%;
        max-width:460px;
    }
    .HeaderCutterImg{
        @include position($position:absolute,$bottom:-2px);
        width:100%;
    }
    .HeaderButtons{
        margin-left:auto;
    }
}

.ButtonOrder{
    @include button($color:$orange,$bg:$white);
    margin-right:5px;
}
.ButtonReserve{
    @include button($color:$white,$bg:$dark-orange);
}

.SectionAbout{
    color:$orange;
    margin-bottom:80px;
    .Text{
        margin-left:20px;
    }
    .AboutContent{
        position:relative;
        .TextBorder{
            @include position($position:absolute,$bottom:-30px);
        }
    }
}


.SectionMenus{
    @include flex($dir:column);//Must stay Menu componment relies on this line 
    margin-bottom:50px;
    color:$white;
    .TopCutter,
    .BottomCutter{
        display:none;
    }
}

@include mq('med'){
    .Header{
        height:70vh;
        margin-bottom:125px;
        .HeaderContent{
            align-self:flex-start;
            margin-bottom:10%;
        }
        .HeaderCutterImg{
            bottom:-25px;
        }
    }
    .SectionAbout{
        margin-bottom:40px;
    }
    .SectionMenus{
        background:url('https://unsplash.com/photos/6Z9BQKksmbE/download') fixed no-repeat center center/cover;
        position:relative;
        .TopCutter,
        .BottomCutter{
            display:block;
            width:100%;
        }
        .TopCutterBorder{
            @include position($position:absolute,$top:0);
            width:100%;
            background:white;
            height:$menu-cutter-marginTop + 3px;
            margin-top:-3px;
        }
        .TopCutter{
            transform: rotate(180deg);
            margin-top:$menu-cutter-marginTop - 2px;
        }

        .BottomCutter{
            margin-bottom:-2px;
        }
    }

    .MenuMedGroup{
        @include flex($wrap:wrap,$just:center);
        max-width:630px;
    }
}

@include mq('large'){
    .Header{
        .HeaderCutterImg{
            margin-bottom:-50px;
        }
    }
    .SectionMenus{
        .MenuMedGroup{
            justify-content: flex-start;
        }
    }
}