$breakpoints:(
    'sm':600px,//Must be one less than med
    'med':601px,
    'large':950px,
);

$nav-height: 50px;

$white: white;
$gray:#776f6f;
$dark-orange: #b57824;
$orange: #D69648;
$orange-red: #F4774D;
$dark-yellow:#A48D4B;