@import '../../../../shared/styles/tools/tools.scss';
.Navbar{
    @include flex($just:space-between);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:50;

    .MenuBox,
    .CartBox{
        position:relative;
        @include square(75px);
    }
    .MenuIcon,
    .CartIcon{
        position:absolute;
        top:20px;
        font-size:30px;
    }
    .MenuIcon{
        left:17px;
        color:white;
    }

    .CartBox{
        top:-1px;
    }
    .CartIcon{
        right:15px;
        color:#D69648;
    }
}
.SideDrawer{
    position:relative;
    @include flex($dir:column);
    height:100%;
    width:55vw;
    background:white;

    .NavItem{
        display:block;
        padding:30px 20px;
        font-size:18px;
        transition:.3s cubic-bezier(.58,.14,.95,.6);
        color:inherit;
        &:hover{
            background:rgba(#A48D4B,.8);
            color:white;
        }
    }

    .NavBrand{
        color:#F4774D;
        font-weight:400;
    }
    .CloseDrawer{
        margin-left:auto;
        font-size:30px;
        padding:10px;
        color:#A48D4B;
    }
    .DropDownContainer{
        display:flex;
        position:relative;
        .DropDownBtn{
            background:transparent;
            border:none;
            color:inherit;
            padding:0;
        }
        .DropDownLinks{
            display:flex;
            flex-direction:column;
            position:absolute;
            right:-136px;
            top:0;
            a{
                display:none;
                padding:20px 50px 20px 10px;
                background:#D69648;
                color:white;
                font-size:18px;
                &:not(:last-of-type){
                    border-bottom:1px solid white;
                }
                &:hover{
                    background:#A48D4B;
                }
            }
        }
    }
    .DropDownContainer:hover .DropDownLinks a{
        display:block;
    }
    .Backdrop{
        @include flex();
    }
}

@include mq('med'){
    .Navbar,
    .SideDrawer,
    .Backdrop{
        display:none;
    }
}