@import '../../../../shared/styles/tools/tools.scss';
.Navbar{
    @include flex($just:space-between);
    @include position($position:fixed,$top:0, $left:0, $zIndex:50);
    width:100%;
    .MenuBox,
    .CartBox{
        position:relative;
        @include square(75px);
    }
    .MenuIcon,
    .CartIcon{
        @include position($position:absolute,$top:20px);
        font-size:30px;
    }
    .MenuIcon{
        left:17px;
        color:$white;
    }

    .CartBox{
        top:-1px;
    }
    .CartIcon{
        right:15px;
        color:$orange;
    }
}
.SideDrawer{
    position:relative;
    @include flex($dir:column);
    height:100%;
    width:55vw;
    background:$white;

    .NavItem{
        display:block;
        padding:30px 20px;
        font-size:18px;
        transition:.3s cubic-bezier(.58,.14,.95,.6);
        color:inherit;
        &:hover{
            background:rgba($dark-yellow,.8);
            color:$white;
        }
    }

    .NavBrand{
        color:$orange-red;
        font-weight:400;
    }
    .CloseDrawer{
        margin-left:auto;
        font-size:30px;
        padding:10px;
        color:$dark-yellow;
    }
    .DropDownContainer{
        display:flex;
        position:relative;
        .DropDownBtn{
            background:transparent;
            border:none;
            color:inherit;
            padding:0;
        }
        .DropDownLinks{
            @include flex($dir:column);
            @include position($position:absolute,$right:-136px,$top:0);
            a{
                display:none;
                padding:20px 50px 20px 10px;
                background:$orange;
                color:$white;
                font-size:18px;
                &:not(:last-of-type){
                    border-bottom:1px solid $white;
                }
                &:hover{
                    background:$dark-yellow;
                }
            }
        }
    }
    .DropDownContainer:hover .DropDownLinks a{
        display:block;
    }
    .Backdrop{
        @include flex();
    }
}

@include mq('med'){
    .Navbar,
    .SideDrawer,
    .Backdrop{
        display:none;
    }
}