@import '../../../shared/styles/tools/tools.scss';

$msg-margin: 5vw;
$flash-bg: rgba(65, 159, 214, 0.741);
div.Hide{
    display:none;
}

.FlashMsgContainer{
    @include position($position:fixed,$top:70px,$left:$msg-margin,$right:$msg-margin,$zIndex:40);
    @include bg($bg:$flash-bg);
    @include flex($just:space-between);
    width:90%;
    margin:0 auto;
    padding:10px;
    font-size:18px;
    border-radius:2px;
    .Msg{
        margin:0;
    }
    @include mq('med'){
        width:70%;
        right:15vw;
        left:15vw;
    }
}

.Error{
    background:rgba(189, 28, 56, 0.769);
}
