@import '../../../../shared/styles/tools/tools.scss';


.DefaultMenuStyles{
   @include bg($bg:$gray);
}

.SingleMenu{
    @include flex($align:center);
    @include square(50vw);
    position:relative;
    min-width:230px;
    min-height:230px;
    overflow:hidden;
    h3{
        z-index:30;
        margin-left:25%;
    }
    &:hover .backgroundImage{
        transition:.5s linear;
        transform:scale(1.1);
    }
    .CutterHexagon{
        @include position($position:absolute,$left:0,$top:0,$zIndex:20);
        @include square(100%);
        overflow:hidden;
    }
    .Content{
        @include flex($align:center);
        @include square(98%);
        position:relative;
        overflow:hidden;
    }
}

.SingleMenuReverse{
    margin-left:auto;
    justify-content: flex-end;
    margin-top:-3%; //to make blocks look closer
    .Content{
        justify-content: flex-end;
    }
    h3{
        margin-right:25%;
    }
    .CutterHexagon{
        transform:rotate(180deg);
    }
}

.backgroundImage{
    @include position($position:absolute, $zIndex:10);
    @include square(100%);
    object-fit:cover;
}
.Overlay{
    @include position($position:absolute,$zIndex:15);
    @include square(100%);
    background:rgba(black,.4);
}
.SingleMenuMed{
    display:none;
}

@include mq('med'){
    .SingleMenu{
        display:none;
    }
    .SingleMenuMed{
        display:block;
        width:45%;
        margin:0 2.5%;
        position:relative;
        .FullHexImg{
            @include square(100%);
        }
        h2{
            @include position($position:absolute,$left:30%,$top:50%);
            color:$white;
            margin-left: -30px;
            margin-top: -15px;
        
        }
    }
}

@include mq('large'){
    .SingleMenuMed{
        max-width:230px;
    }
    .SingleMenuMed:nth-child(6){
        margin-left:auto;
    }
}