

//Media Queries
@mixin mq($break){
    $value:map-get($breakpoints,$break);
    $sm:map-get($breakpoints,'sm');
    @if $value <= $sm {
        @media(max-width:$value){
            @content;
        }
    }
    @else if $value > $sm{
        @media(min-width:$value){
            @content;
        }
    }
}
@mixin flex(
    $just:null,
    $align:null,
    $dir:null,
    $wrap:null,
    $center:null,
    $disp:flex){
    display:$disp;
    justify-content:$just;
    align-items:$align;
    flex-direction:$dir;
    flex-wrap:$wrap;
    @if $center == center{
        align-items:$center;
        justify-content: $center;
    }
}
//Grid
@mixin grid(
    $flow:row,
    $grid-cols:null,
    $gap:null,
    $grid-rows:null){
    display:grid;
    grid-auto-flow:$flow;
    grid-template-columns:$grid-cols;
    grid-template-rows:$grid-rows;
    grid-gap:$gap;
}

//Height and width
@mixin square($dim){
    height:$dim;
    width:$dim; 
}
@mixin rounded($dim){
    @include square($dim);
    border-radius:50%;
}

@mixin button($brdr: 4px,$bg:#4F8691,$size:'sm',$color:white){
    border-radius:$brdr;
    color:$color;
    background:$bg;
    @if $size == 'sm'{
        padding:6px 15px;
    }
    @if $size == 'med'{
        padding:10px 20px;
    }
}

@mixin position(
    $position:relative,
    $top:null,
    $left:null,
    $right:null,
    $bottom: null,
    $zIndex:null){
    position:$position;
    top:$top;
    left:$left;
    right:$right;
    bottom:$bottom;
    z-index:$zIndex;
}

@mixin bg($bg:null,$color:white){
    background:$bg;
    color:$color;
}   