@import '../../../../shared/styles/tools/tools.scss';

.ReserveContainer{
    padding-top:70px;
}
.Header{
    margin-bottom:40px;
    h2{
        color:#3090A4;
    }
}

@include mq('med'){
    .ReserveContainer{
        padding-top:100px;
        display:grid;
        grid-template-columns:1fr 2fr;
        grid-gap:30px;
    }
}