@import '../variables/variables.scss';

.base-input{
    outline:none;
    width:100%;
    padding: 10px 10px;
    border-radius:2px;
    -webkit-appearance: none;
    border:none;
    color:$gray;
    background: #E7EDEE;
}