@import '../../../../shared/styles/tools/tools.scss';
.Navbar{
    @include flex($just:space-between);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;

    .MenuBox,
    .CartBox{
        position:relative;
        @include square(75px);
    }
    .MenuIcon,
    .CartIcon{
        position:absolute;
        top:20px;
        font-size:30px;
    }
    .MenuIcon{
        left:17px;
        color:white;
    }

    .CartBox{
        top:-1px;
    }
    .CartIcon{
        right:15px;
        color:#D69648;
    }

}